[Unit]
Description=SPARK Blog Daemon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/picar-x-hacking
Environment=PATH=/home/pi/.local/bin:/usr/local/bin:/usr/bin:/bin
ExecStart=/home/pi/picar-x-hacking/bin/px-blog
Restart=on-failure
RestartSec=30
EnvironmentFile=/home/pi/picar-x-hacking/.env

[Install]
WantedBy=multi-user.target
