[Unit]
Description=SPARK social posting daemon
Wants=network-online.target
After=network-online.target px-mind.service

[Service]
EnvironmentFile=-/home/pi/picar-x-hacking/.env
ExecStart=/home/pi/picar-x-hacking/bin/px-post
User=pi
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
